@import "tailwindcss";

/* Add a check mark when checked */
input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    border-color: white;
    border-style: solid;
}